{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

    <div class="col-sm-10 ">
        <h3 class="my-5">About Page</h3>
        <div class="about-content my-5">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, corrupti ipsum! Molestiae corrupti illum atque nostrum laborum doloremque cupiditate corporis, possimus delectus laboriosam dolor expedita debitis adipisci non. Dolore itaque, quisquam earum velit veniam quidem neque molestias corrupti vero repellat! Amet iusto consectetur eos nulla eius voluptate consequatur libero esse.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia dolorem nostrum, atque cupiditate fuga, quasi esse delectus minus tempore illo facilis veritatis molestias ipsa deserunt, reprehenderit tempora accusantium aliquid a autem!</p>
        </div>
    </div>

{% endblock content %}